.*
!.github
!.gitattributes
!.gitignore
!.vscode
!target/debug/.cargo-lock
!target/debug/.fingerprint/EMPTY
**/node_modules
**/package-lock.json
**/pkg
**/dist
target/
Cargo.lock
**/perf.data
**/perf.data.old
**/flamegraph.svg
profile_target/albers_svg/profile_output.html
profile_target/simple_svg/profile_output.html

