[workspace]
members = [
    "./lib",
    "./examples/globe/canvas",
    "./examples/globe/svg",
    "./examples/graticule",
    "./examples/projections",
    "./examples/ring"
]

[profile.release]
lto = true
debug = true
codegen-units = 1
