[package]
name = "rust_d3_geo"
version = "0.1.0"
authors = ["martin frances <martinfrances107@hotmail.com>"]
edition = "2018"

[dependencies]
num-traits="0.2.14"
geo="0.17.0"
delaunator = { git = "https://github.com/mourner/delaunator-rs.git" }

[dev-dependencies]
pretty_assertions = "0.6.1"

[dependencies.web-sys]
version = "0.3.47"
features = [
    "CanvasRenderingContext2d",
]