[package]
name = "rust_d3_geo_example_svg"
description = "rust_d3_geo benchmark wasm app"
license = "MIT"
version = "0.1.0"
authors = ["martin <martinfrances107@hotmail.com>"]
edition = "2021"
[lib]
crate-type = ["cdylib"]

[dependencies]
geo = { workspace = true, features = ["use-serde"] }
gloo-utils = { workspace = true }
js-sys = { workspace = true }
rust_d3_geo = { path = "../../../lib" }
rust_topojson_client = { workspace = true }
topojson = { workspace = true }
wasm-bindgen-test = { workspace = true }
wasm-bindgen = { workspace = true, features = ["serde-serialize"] }
wasm-bindgen-futures = { workspace = true }

# The `web-sys` crate allows you to interact with the various browser APIs,
# like the DOM.
[dependencies.web-sys]
workspace = true
features = [
    "console",
    "Attr",
    "Document",
    "Element",
    "Event",
    "Headers",
    "EventTarget",
    "SvgsvgElement",
    "SvgAnimatedLength",
    "SvgLength",
    "SvgPathElement",
    "HtmlElement",
    "HtmlCollection",
    "HtmlInputElement",
    "Node",
    "Performance",
    "PerformanceTiming",
    "PerformanceMeasure",
    "Request",
    "RequestInit",
    "RequestMode",
    "Response",
    "Text",
    "Window",
]
