[package]
name = "rust_d3_geo_example_ring"
description = "rust_d3_geo wasm app"
license = "MIT"
version = "0.1.0"
authors = ["martin <martinfrances107@hotmail.com>"]
edition = "2021"

[lib]
crate-type = ["cdylib"]

[dependencies]
geo = { workspace = true }
getrandom = { workspace = true, features = ["js"] }
rand = { workspace = true }
rust_d3_geo = { path = "../../lib" }
wasm-bindgen-test = { workspace = true }
wasm-bindgen = { workspace = true }

# The `web-sys` crate allows you to interact with the various browser APIs,
# like the DOM.
[dependencies.web-sys]
workspace = true
features = [
    "Attr",
    "console",
    "CanvasRenderingContext2d",
    "Document",
    "Element",
    "Event",
    "EventTarget",
    "HtmlCanvasElement",
    "HtmlCollection",
    "HtmlElement",
    "HtmlInputElement",
    "Node",
    "Performance",
    "PerformanceTiming",
    "PerformanceMeasure",
    "SvgsvgElement",
    "SvgAnimatedLength",
    "SvgLength",
    "SvgPathElement",
    "Text",
    "Window",
]
